.btn
	@extend %btn
	border: 4px solid #7534ff
	color: #fff
	line-height: 1
	background-color: transparent
	+panton-bold
	padding: 29px 101px
	font-size: 18px
	&:hover,
	&:focus
		top: 5px
		&:after
			display: none
	&:after
		content: ''
		display: block
		position: absolute
		left: -2px
		right: -2px
		top: 100%
		margin-top: -4px
		height: 10px
		border-bottom-left-radius: 8px
		border-bottom-right-radius: 8px
		background-color: #7534ff
.btn-menu
	position: absolute
	top: 0
	bottom: 0
	left: 58px
	margin: auto
	width: 38px
	height: 32px
	background: none
	+vertical
	text-align: left
	+trans
	&:before,
	&:after
		content: ''
		display: block
		position: absolute
		left: 0
		height: 4px
		width: 100%
		background-color: #0189ff
	&:before
		top: 0
	&:after
		bottom: 0
	&:hover
		height: 36px
		span
			width: 100%
	span
		display: inline-block
		vertical-align: middle
		width: 12px
		height: 4px
		background-color: #0189ff
		+trans	